@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.body{
    font-family: 'Montserrat';
    background-color: #ffffff
}

.darkmode {
    background:  rgb(0, 0, 0);
    transition: 0.3s ease;
}

.dark {
    text-decoration: none;
    color: #ffffff;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.box {
    margin: 20%;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2.25s;
    color: #000000;
}

.show{
    text-align: center;
    opacity: 1;
    filter: blur(0);
    transform: translateX(0)
}

.log {
    text-decoration: none;
    color: #000000;
}

.items {
    margin-left: 20px;
    margin-top: 2.5%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-right: 15px;
}

::-webkit-scrollbar {
    display: none;
}


