@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

button {
    color: #ffffff
}

.img {
    width: 150px;
    height: 150px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

a {
    text-decoration: none;
    color: #000000;
}


.img {
    width: 80px; 
    height: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    display: flex;
        justify-content: space-between;
    align-items: center;
}