.sidebar {
    width: 250px;
    flex-shrink: 0;
    position: sticky;
    top: 100px; 
}

.main-content {
    flex-grow: 1;
}

@media (max-width: 768px) {
    .plp-container {
        flex-direction: column;
    }
    
    .sidebar {
        width: 100%;
        position: static;
    }
}