@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 15em;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 40px 5%;
}

.column {
  flex: 1;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.column p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
  }

  .column {
    max-width: 100%;
  }
}
