@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


.product-image {
    border-radius: 1em;
}

.product-card {
    border-radius: 5px;
    box-shadow: 3px 2px 3px #cecece
}

.product-price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  font-family: sans-serif;
}

.current-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.old-price {
  font-size: 1rem;
  color: #888;
  text-decoration: line-through;
  text-decoration-color: red;
}

.add-to-cart {
    margin-top: 3%;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer
}

.add-to-cart:hover {
    background-color: rgb(38, 37, 37);
    transition: all 0.3s ease 0s;
}